<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <title th:text="${configurations.get('websiteName')}+' | '+${pageName}">详情页</title>
    <meta name="description" th:content="${configurations.get('websiteDescription')}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/X-admin/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
    <link rel="stylesheet" th:href="@{/X-admin/editormd/css/editormd.preview.css}"/>
    <style>
        pre code {
            white-space: pre;
        }

        blockquote {
            border-left: 4px solid #42b983;
            padding: 10px 0 10px 15px;
            color: #777;
            background-color: rgba(66, 185, 131, .1);
            max-width: 890px;
        }

        .editormd-html-preview ul > li {
            list-style: disc;!important;
        }

        .editormd-html-preview ol > li {
            list-style: decimal;!important;
        }
    </style>

</head>
<body>
<div th:replace="blog/header::nav-fragment"></div>
<header th:fragment="header-fragment" class="intro-header"
        th:style="'background-image:url(' + @{/blog/amaze/images/header.png} + ');'">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 th:text="${blogDetailVO.blogTitle}"></h1>
                    <span class="meta">
                        <th:block th:text="${#dates.format(blogDetailVO.createTime, 'yyyy-MM-dd')}"></th:block> &nbsp;
                            <div class="comments-view" style="display: inline-block">
                                <a href="#comments" class="article-comments"><th:block
                                        th:text="${blogDetailVO.commentCount}"></th:block>条评论</a> &nbsp;
                                <th:block th:text="${blogDetailVO.blogViews}"></th:block>浏览
                            </div>
                            </span>
                    <div class="tags post-tags">
                        <th:block th:each="tag : ${tagList}">
                            <a class="tag" rel="tag" th:href="@{'/tag/' + ${tag.tagId}}">
                                <th:block th:text="${tag.tagName}"></th:block>
                            </a>&nbsp;
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="am-g am-g-fixed blog-fixed">
        <div class="am-u-lg-12 am-u-sm-12">
            <article id="test-markdown-view">

            </article>
            <hr>
        </div>
    </div>
    <th:block th:if="${blogDetailVO.commentCount != 0}">
        <div id="volume" class="volume">
            全部留言 <span th:text="${blogDetailVO.commentCount}"></span>
        </div>
        <aside class="comments" id="comments">
            <div id="list-cont" class="list-cont">
            </div>
            <div id="paging" style="text-align: center;"></div>
        </aside>
    </th:block>
    <th:block th:if="${blogDetailVO.enableComment==0}">
        <div class="layui-form layui-form-pane">
            <h2><i class="fa fa-pencil"></i> 添加评论</h2>
            <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-block">
                    <input type="hidden" id="blogId" autocomplete="off" th:value="${blogDetailVO.blogId}"/>
                    <input type="text" id="commentator" autocomplete="off" placeholder="必填,1-6个字符" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">评论内容</label>
                <div class="layui-input-block">
                    <textarea id="commentBody" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <button type="submit" class="layui-btn" id="commentSubmit">提交</button>
            </div>
        </div>
    </th:block>
</div>
</body>
<script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>

<script src="/X-admin/editormd/lib/marked.min.js"></script>
<script src="/X-admin/editormd/lib/prettify.min.js"></script>
<script src="/X-admin/editormd/lib/raphael.min.js"></script>
<script src="/X-admin/editormd/lib/underscore.min.js"></script>
<script src="/X-admin/editormd/lib/sequence-diagram.min.js"></script>
<script src="/X-admin/editormd/lib/flowchart.min.js"></script>
<script src="/X-admin/editormd/lib/jquery.flowchart.min.js"></script>
<script src="/X-admin/editormd/src/editormd.js"></script>
<script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/blog/plugins/comment/valid.js}"></script>
<script th:src="@{/X-admin/lib/layui/layui.all.js}"></script>
<script th:inline="javascript">
    !function () {
        var laypage = layui.laypage,
            layer = layui.layer,
            $ = layui.$;

        var count = [[${blogDetailVO.commentCount}]];

        initBlogList(1, 5, [[${blogDetailVO.blogId}]]);

        testEditormdView = editormd.markdownToHTML("test-markdown-view", {
            htmlDecode: "style,script,iframe",
            emoji: true,
            taskList: true,
            tex: true,
            flowChart: true,
            sequenceDiagram: true,
            markdown: [[${blogDetailVO.blogContent}]]
        });

        // 初始化评论列表
        function initBlogList(page, limit, blogId) {
            laypage.render({
                elem: 'paging'
                , count: count
                , limit: 5
                , jump: function (obj, first) {
                    $.get('/blog/listComment',
                        {
                            page: obj.curr,
                            limit: obj.limit,
                            blogId: blogId
                        }, function (res) {
                            var strVal = "";
                            Array.from(res.data).forEach((value) => {
                                strVal += `<div class="cont">
                                       <input type="hidden" value="${value.commentId}" name="commentId">

                                    <div class="img">
                                        <input type="hidden" value="${value.commentator}" name="toName">
                                        <img src="/blog/amaze/images/wordImg.png" style="width:50px;" alt="">
                                        <p class="tit"><span class="name">${value.commentator}</span><span class="data">${value.commentCreateTime}</span></p>
                                        <button type="button" class="layui-btn data replyCBtn" style="padding: 0px;margin-right: 30px;" >
                                             <i class="layui-icon layui-icon-reply-fill" style="font-size: 30px; margin: 0px"></i>
                                       </button>
                                    </div>
                                    <div class="text">
                                        <p class="ct">${value.commentBody}</p>
                                    </div>`;

                                var strReply = "";
                                //回复区开始
                                Array.from(value.replyList).forEach((reply) =>{
                                    strReply += `<div class="cont" style="padding-left: 20px; margin-bottom: 20px;">
                                      <div class="text">
                                        <input type="hidden" value="${value.commentator}" name="toName">
                                        <p class="tit">${reply.fromName}  <span class="name">回复</span> ${reply.toName}<span class="data">${reply.replyCreateTime}</span></p>
                                        <p class="ct" style="margin-bottom: 0px">${reply.replyBody}</p>
                                        <button type="button" class="layui-btn data replyRBtn" style="padding: 0px;margin-right: 30px;" >
                                             <i class="layui-icon layui-icon-reply-fill" style="font-size: 30px; margin: 0px"></i>
                                       </button>
                                      </div>

                                      </div>`;
                                })
                                strVal+=strReply;





                                //回复区结束
                                strVal += `</div><hr/>`;
                            });



                            $("#list-cont").html(strVal);
                        }
                    );
                }
            });
        }

        $('#list-cont').on('click','.replyCBtn',function() {
            var blogId = $('#blogId').val();
            var commentId = $(this).parent().siblings("input").val();
            var commentator = $('#commentator').val();
            var commentBody = $('#commentBody').val();
            if(!verify(blogId,commentator,commentBody))
                return;
            var toName = $(this).siblings("input").val();
            reply(blogId,commentId,commentator,toName,commentBody);
        });

        $('#list-cont').on('click','.replyRBtn',function() {
            var blogId = $('#blogId').val();
            var commentId = $(this).parent().parent().siblings("input").val();
            var commentator = $('#commentator').val();
            var commentBody = $('#commentBody').val();
            if(!verify(blogId,commentator,commentBody))
                return;
            var toName = $(this).siblings("input").val();
            reply(blogId,commentId,commentator,toName,commentBody);
        });



        $("#back-top").hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('article h1, article h2, article h3, article h4, article h5').find('a').removeAttr('target')

        // 验证评论
        $('#commentSubmit').click(function (obj) {
            var blogId = $('#blogId').val();
            var commentator = $('#commentator').val();
            var commentBody = $('#commentBody').val();
            if(!verify(blogId,commentator,commentBody))
                return;
            var data = {
                "blogId": blogId,
                "commentator": commentator,
                "commentBody": commentBody
            };
            console.log(data);
            $.ajax({
                type: 'POST',//方法类型
                url: '/blog/comment',
                data: data,
                success: function (result) {
                    if (result.resultCode === 200) {
                        layer.alert("评论提交成功请等待博主审核",{icon: 6})
                        $('#commentBody').val('');
                    }
                    else {
                        layer.alert(result.message,{icon: 5})
                    }
                },
                error: function () {
                    layer.alert("操作失败",{icon: 5})
                }
            });
        });
    }();
    function verify(blogId,commentator,commentBody) {
        if (isNull(blogId)) {
            layer.alert("参数异常",{icon: 5})
            return false;
        }
        if (isNull(commentator)) {
            layer.alert("请输入你的称呼",{icon: 5})
            return false;
        }
        if (!validCN_ENString2_100(commentator)) {
            layer.alert("请输入符合规范的名称(不要输入特殊字符)",{icon: 5})
            return false;
        }
        if (!validCN_ENString2_100(commentBody)) {
            layer.alert("请输入符合规范的评论内容(不要输入特殊字符)",{icon: 5})
            return false;
        }
        return true;
    }

    function reply(blogId,commentId,fromName,toName,replyBody){
        $.ajax({
            url:'/blog/reply',
            data:{
                blogId:blogId,
                commentId:commentId,
                fromName:fromName,
                toName:toName,
                replyBody:replyBody
            },
            type:'post',
            dataType:'json',
            success: function (result) {
                if (result.resultCode === 200) {
                    layer.alert("回复提交成功请等待博主审核",{icon: 6})
                    $('#commentBody').val('');
                }
                else {
                    layer.alert(result.message,{icon: 5})
                }
            },
            error: function () {
                layer.alert("操作失败",{icon: 5})
            }
        })
    }
</script>
</html>