<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.c1z.blog.mapper.BlogConfigMapper">

    <resultMap id="BaseResultMap" type="com.c1z.blog.entity.BlogConfig">
            <id property="configField" column="config_field" jdbcType="VARCHAR"/>
            <result property="configName" column="config_name" jdbcType="VARCHAR"/>
            <result property="configValue" column="config_value" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        config_field,config_name,config_value,
        create_time,update_time
    </sql>
</mapper>
