<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.c1z.blog.mapper.BlogInfoMapper">

    <resultMap id="BaseResultMap" type="com.c1z.blog.entity.BlogInfo">
            <id property="blogId" column="blog_id" jdbcType="BIGINT"/>
            <result property="blogTitle" column="blog_title" jdbcType="VARCHAR"/>
            <result property="blogSubUrl" column="blog_sub_url" jdbcType="VARCHAR"/>
            <result property="blogPreface" column="blog_preface" jdbcType="VARCHAR"/>
            <result property="blogContent" column="blog_content" jdbcType="VARCHAR"/>
            <result property="blogCategoryId" column="blog_category_id" jdbcType="INTEGER"/>
            <result property="blogCategoryName" column="blog_category_name" jdbcType="VARCHAR"/>
            <result property="blogTags" column="blog_tags" jdbcType="VARCHAR"/>
            <result property="blogStatus" column="blog_status" jdbcType="TINYINT"/>
            <result property="blogViews" column="blog_views" jdbcType="BIGINT"/>
            <result property="enableComment" column="enable_comment" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        blog_id,blog_title,blog_sub_url,
        blog_preface,blog_content,blog_category_id,
        blog_category_name,blog_tags,blog_status,
        blog_views,enable_comment,is_deleted,
        create_time,update_time
    </sql>
</mapper>
